{
   // "env": {
   //    "react-native/react-native": true
   // },
   "extends": ["@react-native-community", "plugin:react/jsx-runtime"],
   "parserOptions": {
      "ecmaFeatures": {
         "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
   },
   "rules": {
      "quotes": [0, "single", { "avoidEscape": true }],
      "comma-dangle": ["error", { "functions": "never" }],
      "prettier/prettier": [
         "error",
         {
            "singleQuote": true,
            "trailingComma": "none"
         }
      ]
      // "react-native/no-unused-styles": 2,
      // "react-native/split-platform-components": 2,
      // "react-native/no-inline-styles": 2,
      // "react-native/no-color-literals": 2,
      // "react-native/no-raw-text": 2,
      // "react-native/no-single-element-style-arrays": 2
   }
}
